body {
  background-color: #181A1D;
}

#main-container {
  width: 760px;
  height: 310px;
  background: url("/assets/logo.png") no-repeat center;
  border: 1px solid #000000;
  margin-top: 120px;
}

#logo {
  background: url("/assets/logo.png") no-repeat center;
  height: 64px;
  width: 351px;
  margin-top: 115px;
}

#unitu {
  background: url("/assets/unitu.png") no-repeat center;
  height: 40px;
  width: 38px;
}