body {
  background-color: #191b1e;
  color: #25292C;
}

::selection {
  background: #FFFFFF; /* Safari */
}

::-moz-selection {
  background: #FFFFFF; /* Firefox */
}

#social-container {
  min-height: 80px;
}

.list-inline>li {
  padding-left: 5px;
  padding-right: 5px;
}

.soc {
  font-size: 24px;
  color: #CDCDCD;
}

.soc:hover {
  color: #FFFFFF;
}