.voffset-2 { 
  margin-top: 2px;
}

.voffset-5 {
  margin-top: 5px;
}

.voffset-10 { 
  margin-top: 10px;
}

.voffset-15 { 
  margin-top: 15px;
}

.voffset-30 {
 margin-top: 30px;
}

.voffset-40 { 
  margin-top: 40px;
}

.voffset-60 { 
  margin-top: 60px;
}

.voffset-80 { 
  margin-top: 80px;
}

.voffset-100 { 
  margin-top: 100px;
}

.voffset-150 {
  margin-top: 150px;
}

.vpadding-2 { 
  padding-top: 2px;
}

.vpadding-5 {
  padding-top: 5px;
}

.vpadding-10 { 
  padding-top: 10px;
}

.vpadding-15 { 
  padding-top: 15px;
}

.vpadding-30 {
  padding-top: 30px;
}

.vpadding-40 { 
  padding-top: 40px;
}

.vpadding-60 { 
  padding-top: 60px;
}

.vpadding-80 { 
  padding-top: 80px;
}

.vpadding-100 { 
  padding-top: 100px;
}

.vpadding-150 {
  padding-top: 150px;
}

.icon-header-center
{
  margin-left: -38px;
}
