---
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8"> 
  <meta charset="utf-8">
  <link rel="shortcut icon" href=" {{ site.baseurl }}/assets/favicon.ico"/>
  <title>{{ site.data.meta.title }}</title>
  <meta name="description" content="{{ site.data.meta.description }}"/>
  <meta name="keywords" content="{{ site.data.meta.keywords }}"/>
  <meta name="author" content="{{ site.data.meta.author }}"/>
  
  <script type="text/javascript" src=" {{ site.baseurl }}/js/lib/jquery-1.7.1.min.js"></script>
  <script type="text/javascript" src=" {{ site.baseurl }}/js/lib/bootstrap.min.js"></script>
  
  <link href=" {{ site.baseurl }}/css/lib/bootstrap.min.css" rel="stylesheet">
  <link href=" {{ site.baseurl }}/css/unimpressive.css" rel="stylesheet">

  <!-- source @ https://github.com/josegallegos07/unimpressedturtle.com -->

</head>
<body>
  {{content}}
<body>
<footer>
</footer>
</html>